### file Read

In [11]:
f = open("./exam.txt", 'r', encoding='utf-8')
print(f.readline())
print(f.readlines())
f.close()

1번줄, 데이터마이닝 예제입니다.

['2번줄, 데이터마이닝 예제입니다.\n', '3번줄, 데이터마이닝 예제입니다.\n']

### file Write

In [12]:
f = open("./newfile.txt", 'w', encoding='utf-8')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [13]:
f = open("./newfile.txt", 'r', encoding='utf-8')
print(f.readline())
print(f.readlines())
f.close()

1번째 줄입니다.

['2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']

## with문과 함께 사용하기

In [14]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

In [16]:
with open("foo.txt", "r") as f:
    data = f.readline()
    print(data)

Life is too short, you need python

#### Pandas는 데이터 파일을 읽어 데이터프레임을 만들 수 있다. 다음처럼 여러가지 포맷을 지원한다.

- CSV
- Excel
- HTML
- JSON
- HDF5
- SAS
- STATA
- SQL

### Read csv

In [8]:
df1 = pd.read_csv('./dataset/sample1.csv')
print(df1)

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [11]:
df1 = pd.read_csv('./dataset/sample1.csv',header=0)
print(df1)

df1 = pd.read_csv('./dataset/sample1.csv', names=['h1', 'h2', 'h3'])
print(df1)

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three
   h1    h2     h3
0  c1    c2     c3
1   1  1.11    one
2   2  2.22    two
3   3  3.33  three

### read table

In [14]:
#정해진 구분기호에 의해 값이 나누어지는 경우
df1 = pd.read_table('./dataset/sample1.csv', sep=',')
print(df1)
df2 = pd.read_table('./dataset/sample2.txt', sep='\t')
print(df2)

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three
   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [ ]:
#정해지지 않은 공백의 경우
df2 = pd.read_table('./dataset/sample2.txt', sep='\s+')
print(df2)

### Read Excel

In [3]:
import pandas as pd

excel_data_df = pd.read_excel('./dataset/records.xlsx', sheet_name='Employees')

# print whole sheet data
print(excel_data_df)

   empID    empName empRole
0      1     Pankaj     CEO
1      2  David Lee  Editor
2      3   Lisa Ray  Author

In [6]:
excel_data_df = pd.read_excel('./dataset/records.xlsx', sheet_name='Cars', usecols=['carName', 'carPrice'])
print(excel_data_df)

          carName  carPrice
0      Honda city     20000
1  Bugatti Chiron     30000
2     Ferrari 458     40000

### pandas를 활용한 파일의 출력
#### pd.to_csv

In [17]:
df2 = pd.read_table('./dataset/sample2.txt', sep='\t')
df = df2
df.to_csv('./dataset/outcsv1.csv')

In [18]:
#저장한 파일을 읽어 확인하기
print(pd.read_csv('./dataset/outcsv1.csv'))

   Unnamed: 0  c1    c2     c3
0           0   1  1.11    one
1           1   2  2.22    two
2           2   3  3.33  three